/**
 * {{anss>author}}
 */
.news_form_div {
    width: 600px;
    background-color: #eee;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 8px 6px 6px 8px;
}

/**
 * {{anss>allnews}}
 */
.allnews_box {
    padding: 8px 6px 6px 8px;
}

.allnews_box h4 {
    font-size: 120%;
    background-color: #eee;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 8px 6px 6px 8px;
}
.allnews_box h4 .news_date{
    font-size: 90%;
    color: #828282;
    float: right;
    margin-left: 1em;
}
.allnews_box h4 .news_subtitle{
    font-size: 95%;
}
.allnews_box p {
    margin-left: 2em;
}


.anss_del_img {
    border: 0;
    background-color: transparent;
    background-image: url(images/trash16.png);
    margin-top: -10px;
    margin-right: -6px;
    margin-left: 10px;
    float: right;
  }
.anss_del_img:hover {
    background-image:url(images/trash16_hov.png) !important;
  }

.anss_edit_img {
    border: 0;
    background-color: transparent;
    background-image: url(images/edit16.png);
    margin-top: -10px;
    margin-right: -0px;
    margin-left: 20px;
    float: right;
  }
.anss_edit_img:hover {
    background-image:url(images/edit16_hov.png) !important;
}
